<div class="int-contant">
<h6>协办单位：</h6>
<p class="conp2">深圳华大基因研究院</p>

<p class="conp2">罗氏公司</p>

<h6>项目背景：</h6>
　　<p class="conp2">宫颈癌由人乳头瘤病毒（HPV）引发，是目前唯一病因明确的癌症，为女性第二大常见恶性肿瘤严重威胁女性生命，大规模人群筛查作为最主要预防措施，已列入我国重大公共卫生
  项目。然而，高额筛查成本与医疗资源不足，严重制约了覆盖全民的筛查，尤其在医疗资源匮乏的贫困地区，矛盾更加突出并亟待解决。本项目组与美国国际防癌基金会 （POI）合
  作进行长达7年研究，探索宫颈癌筛查新技术并经数万例人群实施，有效地解决了宫颈癌筛查所面临的成本高、敏感性低、人群参与率低及失访率高等“瓶颈”问题。

本项目——2013年深圳市“宫颈阴道细胞自取样本高危型HPV检测宫颈癌筛查”公益项目——的方案是在前期研究基础上通过消化与吸收本领域国际前沿技术，建立起的简便、高效、价廉的
  筛查体系。这一新的筛查模式将减低疾病预防成本，最大限度覆盖易感人群，促进宫颈癌预防这一国家重大公共卫生项目的实施。
</p>

<h6>前期工作：</h6>
　　<p class="conp2">
    我院宫颈癌早诊早治中心集临床诊疗、病理诊断、病毒与基因检测为一体，拥有本领域先进水平的专业团队，临床与实验室专用面积300平方米、仪器设备价值900万元。宫颈中心
  成立近10年，完成国际合作、国家、省部和市级科研立项20余项，于2005年2月被国家卫生部、省卫生厅和中国癌症基金会联合授予“国家宫颈癌早诊早治示范基地”。本项目组与美
  国国际防癌基金会 （POI）合作进行宫颈癌防治研究，7年来在中国广东深圳、河源、鹤山和贵州等地完成针对数万例人群的研究工作，成功地建立了宫颈阴道细胞自取样、样本转
  运、HPV高通量检测等人群宫颈癌筛查新技术，首次在万例人群获得了简便价廉且高度敏感的筛查效率，并于墨西哥、美国等地应用，为建立适合于中国人群的宫颈癌筛查创新模式
  创造了条件。

　　2011年本中心与POI和深圳华大基因研究院 三方合作开展了“以自取样样本高危型HPV检测为筛查方案的社区工作模型”，在广东省鹤洲市万例人群实施了“自取样本、“样本卡”固体
  标本转运、HPV亚型检测”的宫颈癌筛查，项目方案同时在墨西哥实施，取得良好的效果，成功地以“宫颈阴道细胞自取样本高危型HPV检测为宫颈癌初筛”方案实施了万例人群宫颈癌筛
  查。此新型筛查模式因其取样方便与优质高效并存的优势及可以经信息网络系统参与而更适合于忙忙碌碌、无暇顾及自身健康的城市女性人群。
</p>
<h6>
项目采用的先进技术：
</h6>
<p class="conp2">
1、自取样技术 ：参加筛查者可根据说明书指引，用“自取样刷” 在自己家中自助获取合乎要求的宫颈阴道细胞样本，不需要专门的医疗场所、无需任何特殊设施，整个取样过程安全方

2、HPV分型检测技术

方法（一）新一代DNA测序HPV分型检测技术：经DNA测序检测HPV基因亚型，是HPV检测的金标准。新一代DNA测序HPV分型检测技术是由深圳华大基因研究院利用国际最先进的技术自主
  研发的检测方法，可鉴定HPV-16、-18、-31、- 33、-35、-39、- 45、-51、- 52、-56、-58、-59、-66 和 -68等14种高危HPV亚型。

方法（二）罗氏cobas 4800 HPV检测技术：采用全自动样品制备与实时聚合酶链反应及扩增和检测技术可鉴定HPV-16、-18和其他12种高危HPV亚型。以上法对自取样本检测HPV基因
  亚型筛查宫颈癌前病变的敏感性高达95%，特异性接近90%。

3、初筛HPV阳性的二次筛查：以HPV亚型联合细胞学检测作为HPV初筛后的二次筛查，复检率减少90%以上。
</p>

<h6>
参加者条件：
</h6>
<p class="conp2">
　　深圳市指定区域25～59岁有性生活、3年内未接受过子宫颈癌筛查、未行子宫切除与盆腔放射治疗的非孕期妇女5000人。
</p>

<h6>
参加方法：
</h6>
<h6>
1、通过网络信息系统参加筛查：
</h6>
<p class="conp2">
系通过挂靠在所属局域网上具有互动功能的“宫颈癌筛查网”，采用“经网络信息途径参与、邮寄取样器和样本、集中监测与发送电子报告”的“网络筛查模式”。
1)参加筛查者登陆“宫颈癌防治网”网站。

2)网上注册用户，成功申请筛查后可获得个人专属是筛查编号（条码）。

3)注册并成功申请筛查后数日即可收到邮寄的自取样刷和贴有个人专属条码的装有样本保存液的标本瓶。根据说明书（或网络自取样视频> ）指引自行取样并将样本转移至样本卡
  （或样本瓶），将样本装入随寄的信封寄回（如为样本瓶则需快递寄回）。

4)网上查询样本送检状态、查询结果与得到治疗指导，并可预约到北京大学深圳医院宫颈门诊就医。
</p>
<h6>
2、通过社区街道、工作单位或当地医疗机构参加筛查：
</h6>

<p class="conp2">
系本网站与上述机构联合组织的筛查，适用于没有完善的信息网络系统或缺乏上网条件的妇女。
1)由组织筛查部门公布筛查信息。

2)于指定时间到指定地点由项目相关工作人员协助报名或集体报名。

3)发放自取样刷和贴有个人专属条码的装有细胞保存液的标本瓶。

4)自取样放入标本瓶后交回。

5)由组织筛查部门通知筛查结果并获得进一步诊疗指导。
</p>
</div>
