<div class="int-contant">
<h6>项目来源与特色：</h6>
　　<p class="conp2">本项目是由北京大学深圳医院宫颈癌早诊早治中心发起，美国国际防癌基金会（POI）、深圳华大基因研究院与美国罗氏公司联合提供技术支持的公益性子宫颈癌筛查项目。

　　和以往主要由医生和医务工作者们执行的项目不同，这个项目的取材将由参加筛查者自行完成。项目将采用一种非常简单的“自取样”技术，参加筛查的女性能够不出家门完成检测，无需再花费时间前往医疗机构。在妇女自己获取的样本得到检测之后，若筛查结果为阳性才需要医生的介入。

项目所采用的所有技术都已经过许多研究证实行之有效，并经有关部门批准在国内使用。

　　项目的目的是使所有有患病风险的女性都得到筛查。项目检测所需要的费用由项目方承担。参与筛查的女性无需支付任何费用，只有筛查阳性才需要自己支付进一步诊治的费用。经济困难女性还可申请免费诊断。
</p>
<h6>宫颈癌防治要点知识:</h6>
<p class="conp2">
　　人乳头瘤病毒 (HPV) 感染是子宫颈癌的病因，人类非常容易感染HPV。事实上，大多数成年人在一生的某段时间内都会感染HPV。但是，90%的感染者会利用机体的自身免疫功能完全清除感染的病毒，只有少数呈HPV持续感染的女性才会有发生子宫颈癌的危险。

　　即使HPV持续感染并开始引起病变，首先引起的也只是癌前病变。癌前病变在发展成为癌症之前通常会持续存在数年，这个阶段很容易治疗。只要早期检查出来，简单的门诊小手术就可以彻底治愈。

　　女性子宫颈癌预防对未成年人是疫苗接种，而对成年人就是参加筛查。进行子宫颈癌筛查的目的是发现存在子宫颈癌病因并引起宫颈早期癌或癌前病变的妇女，给予合理干预阻断病变的进展。

　　治疗晚期子宫颈癌患者耗资巨大，而且一旦发展成为晚期癌症，治愈的可能几乎为零。甄别和治疗癌前病变却花费很少，早期病变能够治愈。
</p>
<h6>自取样技术介绍</h6>
<p class="conp2">
　　自取样技术的使用能够让女性在家中自己采集样本进行HPV检测。我们所进行的SHENCCAST研究首次在万例大样本人群进行自取样筛查获得了与医生取样筛查相同的敏感性。从而证实采用适宜的HPV检测技术对自取样本的检验和由医生取样的检测同样准确。本研究结果被美国最新发布的宫颈癌防治指南所引用。

　　自取样过程安全无痛，卫生且容易操作。请仔细阅读《取样说明书》或观看网站的取样方法视频。取样刷伸入阴道内时动作要轻柔，边伸入边上下移动，直到感觉到刷子到达阴道顶端，旋转3圈取出即可。

　　取样完成后，将取样刷刷头涂抹在样本卡上，丢弃刷子，将取样卡放在孩子碰不到的安全地方自然风干（不超过30分钟），然后将取样卡放在小信封内封好。若使用标本瓶，则拧开瓶盖，把刷子头端放入标本瓶至瓶底，将刷柄靠近瓶口稍用力即可折断刷柄，将刷头保留在标本瓶里，拧紧瓶盖经快递寄回。
</p>
<h6>参加筛查的条件</h6>
<p class="conp2">
　　本项目设定的筛查条件是：年龄25-60岁，有性生活，未经过子宫全切术和盆腔放射治疗的非妊娠女性。

　　符合筛查条件的女性参加筛查完全出于自愿。女性阅读筛查须知后同意参加筛查，网上注册成功申请后，必须点击《知情同意书》“同意筛查”。此举等同于亲笔签字。如果筛查对象不签字，便不可以参加筛查。
</p>
</div>
