<div class="int-contant">
  <h6>项目名称</h6>
  <p class="conp2">
  网络模式宫颈癌筛查——宫颈阴道细胞自取样本高危型HPV检测宫颈癌筛查
  </p>
  <h6>发起和执行单位</h6>
  <p class="conp2">
  北京大学深圳医院、美国国际防癌基金会（POI）、深圳华大基因研究院 、美国罗氏公司
  </p>
  <h6>项目信息与目的</h6>
  <p class="conp2">
  　　您被邀请参加一个公益性子宫颈癌筛查项目，这个项目的目的是推行一种女性子宫颈癌网络筛查模式，并最终将这一筛查模式在更大的范围推广。

  　　目前，已经明确子宫颈癌是由人乳头瘤病毒（HPV）引起的。当女性感染了HPV，可引起子宫颈细胞异常改变。如果这种异常细胞未能在形成早期被诊查出来并合理干预，HPV感染所致病变就有可能进一步发展，最终成为子宫颈癌。针对高危型HPV的检测可作为子宫颈癌的筛查方法，接受这种检测可以发现HPV感染和早期病变，保护您免于发生子宫颈癌。您只需使用阴道取样刷自己取样，就可接受这种检查。如果您的检测结果有异常，我们会对您进行专业的进一步诊断及治疗指导。参与这个项目，您同时有机会以自己的行动对您所在地区姐妹的公共健康保健工作产生直接影响。

  　　这份文件是为了让您了解这个公益性防癌项目的信息，包括项目的目的、执行程序、您的获益和可能的风险。您参加这个项目的前提是您自愿接受筛查。您完全可以拒绝参加，并有权在任何时候退出这个项目，且不会受到任何处罚，您的利益也不会受到任何损害。

  　　在决定参与本项目之前或期间，您可以向我们提出您认为必要的任何问题。我们的工作人员会通过网络互动的方式向您讲解本知情同意书的内容以及任何您尚不清楚的筛查相关问题。在您的问题未能得到您认为满意的答案之前，请不要在这份《知情同意书》上签字。
  </p>
  <h6>您受邀请参与本项目的原因</h6>
  <p class="conp2">
  　　您被邀请参加本项目是因为您的年龄在30到55岁、有性生活、没有接受过子宫切除和盆腔放疗，目前没有妊娠。
  </p>
  <h6>参加项目筛查的程序</h6>
  <p class="conp2">
  　　首先，登陆我们的“宫颈癌防治网”网站，注册用户并填写与筛查有关的真实个人信息申请筛查，成功申请后便可获得一个你个人专属的筛查编号（条码），几天后你会收到我们寄送的取样物品与贴有个人专有条码装有样本保存液的样本瓶，根据说明书指引（或本网站介绍自取样方法的视频）自己取得样本，将取样刷刷头放入样本瓶，封存好样本寄回，网上查询样本送检状态及检测结果。

  　　如果您的检测结果正常，您的筛查就结束了；如果检测结果呈阳性（异常），您需要进一步诊断，您将预约到北大深圳医院宫颈门诊进行诊断，并得到治疗指导。
  </p>
  <h6>风险与不适</h6>
  <p class="conp2">
  　　自取样过程可能会给您带来极轻微的不适感，但相关的研究资料已经证明，这种不适感的程度远远小于您在接受常规妇科检查时感受到的不适。

  　　HPV检测结果阳性的女性可能会在接受阴道镜检查、宫颈活检或治疗过程中感到不舒服。活检或治疗过程中还可能会有少许出血和感染的风险，但这种风险非常小。

  　　如果您的检测结果阳性，在收到检测结果通知时，您可能会有心理上的压力。但我们提供的进一步的诊疗措施将为您明确诊断，并使您得到有效的治疗。

  　　我们将非常谨慎地保护您的健康信息不被泄露，我们将给您一个专属的编号，以保护您的个人资料。然而，个人信息的泄露依然是一个可能的非医学风险。
  </p>
  <h6>您的受益</h6>
    <p class="conp2">
  　　参与本项目的筛查，您可以获得直接的医疗受益。本项目能够甄别出受到HPV感染的女性和那些罹患癌前病变和癌症风险较大的HPV亚型，据此确定需要接受其他方法的二次筛查或直接阴道镜检查宫颈活检进一步诊断。项目将为病理结果阳性者提供针对癌前病变的治疗指导，并在治疗后定期随访。此外，您的参与可为我们提供有价值的信息，使我们可以藉此帮助更多的患有子宫颈癌前病变和子宫颈癌患者。
    </p>
  <h6>隐私权与隐私保护</h6>
  <p class="conp2">
  　　在筛查和可能的治疗过程中，我们需要记录一些您的信息和诊疗资料。这些资料将仅限于在北京大学深圳医院、深圳华大基因研究院、美国罗氏公司、美国国际防癌基金会或美国克利夫兰医学中心范围内使用，也可能向以上单位以外披露。筛查过程和检测结果将会保存在您的个人档案中，以表明您参加过规范的子宫颈癌筛查。项目所记录的有关您的信息将会以保密方式妥善保存。

  　　本项目执行中所获得的资料可能会在文献上发表，或在会议上演示，但我们不会发布能够识别您身份的任何信息。

  　　您的检测和诊疗资料（而非您的身份识别资料）可能被引用或披露，但您完全可以通过写信给北京大学深圳医院的吴瑞芳教授或给美国国际防癌基金会Jerome Belinson 教授来制止这种引用和披露。但在已经完成的筛查和治疗中所记录下来的任何与您有关的信息将不会被删除，并会继续用于项目的总结和评价。已经被披露到北京大学深圳医院、深圳华大基因研究院、美国罗氏公司、美国国际防癌基金会和克利夫兰医学中心以外的资讯将无法检索到。即使您要求我们制止这种信息披露，按照中国法律，披露已经收集到的有关您的信息仍属合法。

  　　签署这份知情同意书意味着您已经授权我们获得一些您的诊疗记录。如果您不签署这份知情同意书，您将不能参加本项目的筛查。
  </p>
  <h6>项目费用说明</h6>
  <p class="conp2">
  　　参与本项目没有报酬。筛查所用取样物品及邮寄费用、HPV检测的费用均由项目组承担。如果您还需要接受进一步的诊断与治疗，则需自己负担相关费用。若您缺少支付能力，我们会尽可能寻找经费为您提供支持。
  </p>
  <h6>自愿参与和退出项目</h6>
  <p class="conp2">
  　　我们再次声明：您参与项目完全出于自愿，您并非必需参加本项目。如果您决定不参加项目筛查或在项目执行期间的任何时间决定退出，您将不会受到任何惩罚或有任何利益损失，也不会影响您现在和将来享受卫生保健的权益。

  　　当您决定退出项目时，请通知项目的负责人。退出项目意味着我们将不再向您提供任何检查信息。已经收集到的信息将继续收录在项目的数据库中，用于项目执行效果的评价和报告。
  </p>
  <h6>项目组联系方式</h6>
  <p class="conp2">
  　　如果您对作为筛查对象的权益有任何质疑，或对本项目工作有任何问题、担心或投诉，请联系北京大学深圳医院子宫颈癌早诊早治中心，0755-83923333转 专线电话：13622301162
  </p>
  <h6>参与项目者声明</h6>
  <p class="conp2">
  　　我已经详细阅读了以上信息，并得到了所有针对我的问题的满意回答。我理解我参与本项目是出于自愿，我完全可以在任何时候退出项目。以下我的签字代表我已经同意参与项目并按照本项目程序接受筛查，但并不意味着我放弃了我的任何法律权益。
  </p>
  <p class="conp2">
  参与者姓名：三胖
  </p>
  <p class="conp2">
  身份证：23141234125412354123
  </p>
  <p class="conp2">
  日期：2017.05.05
  </p>

  <input type="text" class="form-control" placeholder="参与者签字:">
  <div style="margin-top:3%;">
  <button class="btn btn-primary">同意</button>
  <button class="btn">放弃</button>
  </div>
</div>
